body {
  width: 200px;
  height: 260px;
  background: #212121;
  margin: 0;
  font-family: monospace;
  padding: 10px;
}

#ignorados {
  display: inline-block;
  border-radius: 3px;
  color: #ababab;
  font-weight: 500;
  padding: 3px;
  font-size: 9px;
  margin-bottom: 10px;
}

#title {
  color: #ffc107;
  padding-bottom: 4px;
  margin-top: 0px;
  display: inline-block;
}

#me {
  display: inline;
  color: #7d7d7d;
  font-weight: 600;
  position: relative;
  top: 5px;
  float: right;
}

#keywords {
  width: 94%;
  min-width: 94%;
  min-height: 140px;
  max-width: 94%;
  background: #171717;
  margin-top: 6px;
  font-size: 12px;
  padding: 5px;
  border-radius: 7px;
  border-color: #55555575;
  height: 140px;
  max-height: 140px;
  color: rgb(150, 150, 150);
}

#cantidad {
  color: whitesmoke;
  margin-left: 3px;
}

#paragraph {
  color: #ababab;
  display: block;
}

#keywords:focus {
  outline: none;
  border: none;
}

input[type="checkbox"] {
  display: none;
}

.custom-checkbox {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 2px;
  margin-left: 3px;
  position: relative;
  top: 1px;
  cursor: pointer;
}

input[type="checkbox"]:checked + .custom-checkbox {
  background-color: #ffc107;
}

input[type="checkbox"]:checked + .custom-checkbox::after {
  display: block;
}

.contador {
  font-size: 12px;
  color: #cf9a4e;
  position: relative;
  width: 95%;
  background: #444444;
  padding: 5px;
  display: block;
  border-radius: 2px;
  bottom: 5px;
  font-weight: 600;
}

#updateApp {
  text-decoration: none;
  font-size: 9px;
  background: #ffc107;
  color: #433200;
  font-weight: 700;
  border-bottom: 2px solid #9b7400;
  float: right;
  text-transform: uppercase;
  padding: 3px;
  border-radius: 2px;
  position: relative;
  bottom: 2px;
}
